body {
    background-color: #EAF8BF;
}
h1 {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

button{
    font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.container{
   margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFF;
    padding: 1rem;
    border-radius: 10px;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 10cm;
}

img{
    scale: .7;
}